.top-bar {
  background-color: #0065a4;
  color: #ffffff;
  padding: 0.5em;
  font-family: "Nunito Sans", sans-serif;
}

.top-bar h1 {
  font-size: 2vw;
  font-weight: bold;
  display: inline;
  margin-right: 1em;
}

.top-bar ul {
  display: inline;
  position: relative;
  vertical-align: auto;
}

.menu li {
  font-size: 1.5vw;
  display: inline;
  margin: 1em;
}

.img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.img-block {
  padding: 2em;
}

.img-block img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 20vw;
}

.img-block h2 {
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  padding: 1%;
}

.img-block p {
  width: 90%;
  margin-left: 5%;
  font-size: 1vw;
  text-align: center;
}

.information {
  width: 80%;
  margin: 3% 10%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2vw;
  text-align: center;
}

.bot-bar {
  background-color: #0065a4;
  color: #ffffff;
  width: 100%;
  bottom: 0;
  padding: 0.2em 0em;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5vw;
  text-align: center;
}
